@page "/authentication/login"

@using BlazorApp.Models;
@using Microsoft.AspNetCore.Components.Forms;

<h3>Authentification</h3>

<EditForm novalidate Model="@model" OnValidSubmit="@submit">
    <DataAnnotationsValidator />
    
    <InputField Label="Email" @bind-value="model.Email" />

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Mot de passe</label>
        <div class="col-sm-10">
            <InputText class="form-control" @bind-Value="model.Password" type="password" />
            <ValidationMessage For="@(()=> model.Password)" />
        </div>
    </div>


    <div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </div>
</EditForm>

@code {
    private LoginViewModel model = new LoginViewModel { Email="test@test.com", Password = "bob" };


    private void submit()
    {
        Console.WriteLine(model.Email);
    }
}
