@page "/cars/detail/{id:int}"
@using ServicesLibrary.Models;
@using ServicesLibrary.Services;

@inject CarsService servCars;
@inject NavigationManager nav;

<h3>@car?.Model</h3>

<p>Prix: @car?.Price €</p>
<div><button class="btn btn-primary" @onclick="Back">Revenir à la liste</button></div>

